---
version: '2'

services:
    router:
        restart: always
        image: router
        volumes:
            - "{{ router_path }}:/opt/router"
            - "{{ config_path }}:/opt/config"
        command: 'python3 -m router.flaskapp.app'
        networks:
          static-network:
            ipv4_address: 172.20.128.20
    controller:
        restart: always
        image: controller
        volumes:
            - "{{ controller_path }}:/opt/controller"
            - "{{ config_path }}:/opt/config"
            - "/var/run/docker.sock:/var/run/docker.sock"
        command: 'python3 -m controller.flaskapp.app'
        networks:
          static-network:
            ipv4_address: 172.20.128.10
    {% for agent in agents -%}
    agent_{{ agent }}:
        restart: always
        image: agent
        volumes:
            - "{{ agent_path }}:/opt/agent"
            - "{{ config_path }}:/opt/config"
        command: 'python3 -m agent.flaskapp.app'
        networks:
          static-network:
            ipv4_address: '172.20.128.{{loop.index}}'
    {% endfor %}

networks:
  static-network:
    ipam:
      config:
        - subnet: 172.20.0.0/16
          ip_range: 172.28.5.0/24
